.c-attractions {
background-color: color('blue');
p {
    font-size: 20px;
    color: color('white');
    @include media(lg) {
        font-size: 26px;
    }
}
}
.c-attractions__image--left {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    @include media(md) {
     height: 460px;
 }
}
.c-attractions__right {
    .o-col__inner {
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        @include media(md) {
            margin-right: auto;
            margin-left: 0px;
        }
    }
}
