.c-amenities {
    margin-top: 0px;
background-color: color('white', 'medium');
@include media(md) {
    padding: 40px 0px;
    }
p {
    font-size: 20px;
    color: color('white');
    @include media(lg) {
        font-size: 26px;
    }
}
.c-btn {
    padding: 5px 50px;
    margin-top: 20px;
}
}
.c-amenities__left {
    .o-col__inner {
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        background-color: color('blue', 'medium');
        position: relative;
        z-index: 10;
        @include media(md) {
            margin-top: 15px;
            margin-left: auto;
            margin-right: neg(rem(60px));
        }
    }
}

.c-amenities__right {
    padding: 20px 30px;
    @include media(md) {
        padding: 0px;
    }
    .o-col__inner {
        height: 300px;
        margin-right: auto;
        margin-left: auto;
        @include media(md) {
            height:400px;
            margin-right: auto;
            margin-left: neg(rem(60px));
        }
    }
}
.c-amenities__image--right {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
