.c-btn {
    display: inline-block;
    padding: rem(5px) rem(20px);
    color: color('white');
    border: none;
    text-decoration: none;
    font-size: rem(25px);
    line-height: 36px;
    font-family: $Crushed ;
}
.c-btn--red {
    background-color: color('red');
    &:hover {
        background-color: color('red', 'medium');
    }
}
.c-btn--white {
    border: 2px solid color('white');
    &:hover {
        border: 2px solid color('grey');
        color: color('grey');
    }
}
