.c-blurb {
    position: relative;
    height: auto;
    width: 100%;
    background-color: color('blue');
    padding-top: 15px;
    p{
        color: color('white');
        position: relative;
        width: 100%;
        text-align: center;
        @include media(md) {
            width:80%;
            text-align: left;
        }
    }
    img {
        position: relative;
        margin-bottom: -30px;
        right: -200px;
        display: none;
        @include media(md) {
            float: right;
            display: block;
            margin-top: -150px;
        }
    }
}
