footer {
    position: relative;
    z-index: 9;
    padding-top:40px;
    background-color: color('blue', 'dark');
    @include media(md) {
        padding-top:200px;
        }
    h5 {
        color: color('white');
        font-size: 18px;
        font-weight: 100;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    .c-footer__menu {
        display: none;
        @include media(xs) {
            display: block;
        }
        ul {
            list-style: none;
            li {
                margin-bottom: 10px;
                a {
                    font-family: $Crushed ;
                    text-transform: uppercase;
                    color: color('white');
                    font-size: 16px;
                    text-decoration: none;
                }
            }
        }
    }
    .c-footer__contact {
        h5 {
            padding-bottom: 0px;
        }
        p, a {
            font-size: 16px;
            font-family: $Crushed ;
            color: color('white');
            text-decoration: none;
        }
        img {
            padding-right: 5px;
            float: left;
        }
    }
    .c-footer__sponsor {
        ul {
            list-style: none;
            display: table;
            margin: 0px auto;
            width: auto;
            @include media(xs) {
                width: 500px;
            }
            li {
                display: inline-block;
                padding: 0px 15px;
                width: 33%;
                img {
                    display: block;
                    margin: 0px auto;
                }
            }
        }
    }
    .c-footer__rights {
        background-color: color('blue');
        p, a {
            font-size: 12px;
            color: color('grey');
            font-family: $Crushed ;
            text-align: left;
            line-height: normal;
            font-weight: normal;
            text-decoration: none;
            padding-top:10px;
        }
    }
    .c-footer__iframe {
        padding-bottom: 50px;
    }
    .c-footer__social {
        margin-top: -60px;
        ul {
            list-style: none;
            li {
                display: inline-block;
                padding: 5px;
                img {
                    display: block;
                    margin: 0px auto;
                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
    }
}
