.c-gallery {
padding: 0px 0px;
background-color: color('white', 'medium');
margin-top: -60px;
@include media(md) {
    padding: 40px 0px;
    margin-top: 0px;
    }
    p {
        font-size: 20px;
        color: color('white');
        @include media(lg) {
            font-size: 26px;
        }
    }
.c-btn {
    margin-top: 20px;
}
}
.c-gallery__left {
    .o-col__inner {
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        background-color: color('red');
        position: relative;
        z-index: 10;
        margin-top: 50px;
        @include media(md) {
            margin-left: auto;
            margin-right: neg(rem(60px));
        }
    }
}
.c-gallery__right {
    padding: 20px 30px;
    @include media(md) {
        padding: 0px;
    }
    .o-col__inner {
        height: 300px;
        margin-right: auto;
        margin-left: auto;
        @include media(md) {
            height: 400px;
            margin-right: auto;
            margin-left: neg(rem(60px));
        }
    }
}
.c-gallery__image--right {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
