header {
    width: 100%;
    position: fixed;
    z-index: 20;
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 100px;
    @include media(md) {
        padding-bottom: 0px;
    }
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 80px;
        background-color: color('blue');
        z-index: 5;
        @include media(xx) {
            margin-top: -120px;
        }
        @include media(md) {
            margin-top: -50px;
            height: 50px;
        }
    }
    .c-header_icon  {
        position: relative;
        top: 25px;
        display: block;
        z-index: 10;
        @include media(md) {
            display: none;
        }
    }
    .c-header__quicklinks {
        margin-bottom: -100px;
    }
    .c-header__contact {
        display: none;
        @include media(md) {
            display: block;
        }

        .c-btn {
            float: right;
            padding: 0px 20px;
            margin-top: 15px;
        }
        ul {
            position: relative;
            list-style: none;
            top: 20px;
            li {
                display: inline-block;
                padding: 5px;
                img {
                    position: relative;
                    display: block;
                    margin: 0px auto;
                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
    }
}
