.c-content__hero {
    overflow: hidden;
    position: relative;
    .home {
        .soliloquy-image {
            overflow-x: hidden;
            width: 100%;
            min-width: 900px;
            position: relative;
            left: -100px;
            @include media(sm) {
                min-width: auto;
                left: 0px;
            }
        }
    }
}
// global
.soliloquy-image {
    overflow-x: hidden;
    width: 100%;
    min-width: 1500px;
    position: relative;
    left: -300px;
    @include media(lg) {
        left: 0px;
    }
}
.soliloquy-caption {
    position: relative;
    top: 230px !important;
    @include media(md) {
        top: 280px !important;
    }
    @include media(lg) {
        top: 450px !important;
    }
    .soliloquy-caption-inside {
        background: rgba(0, 0, 0, 0.0) !important;
        line-height: 1.25;
        display: block;
        text-shadow: 0 1px 1px #000;
        text-align: center;
        padding: 10px;
        h2 {
            color: color('white');
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 2px;
            @include media(md) {
                font-size: 52px;
            }
        }
        .c-btn {
            padding: rem(5px) rem(20px) !important;
            font-size: 26px;
            margin-top: 10px;
            @include media(md) {
                margin-top: 40px;
            }
        }
        .c-btn--white {
            border: 2px solid color('red') !important;
        }
    }
}
