//Navigation Placement
.c-header__nav {
    margin-top: -20px;
}
// Navigation controls
.c-header__nav--left,
.c-header__nav--right {
    ul {
        list-style: none;
        width: auto;
        display: block;
        margin-top: 43px;
        position: relative;
        z-index: 10;
        li {
            display: inline-block;
            padding: 10px 2px;
            &:hover {
                .sub-menu {
                    display: block !important;
                }
            }
            a {
                text-decoration: none;
                color:color('white');
                text-transform: uppercase;
                font-size: 16px;
                @include media(lg){
                    font-size: 20px;
                }
                &:hover {
                    color: color('grey');
                }
            }
            .sub-menu {
                display: none;
                position: absolute;
                text-align: left;
                width: rem(100px);
                padding-right: rem(10px);
                margin-top: rem(10px);
                background-color: color('white');
                li {
                    display: block;
                    text-align: left;
                    padding: rem(10px) rem(0px);
                    padding-left: rem(10px);
                }
            }
        }
    }
}

// Sub Menu control
.menu-about {
    .sub-menu {
        margin-left: neg(rem(10px));
    }
}

//Navigation left and right side
.c-header__nav--left {
    display: none;
    @include media(md) {
        display: block;
    }
    ul {
        margin-left: auto;
        margin-right: 0px;
    }
}
.c-header__nav--right {
    display: none;
    @include media(md) {
        display: block;
    }
    ul {
        float: right;
        margin-left: auto;
        margin-right: 0px;
    }
}
/// Mbile Men
// mobile navigation
.c-header__mobile {
    overflow-x: scroll;
    display: none;
    width: 100%;
    position: fixed;
    z-index: 40;
    height: 100%;
    background-color: color('blue');
    margin-top: rem(0px);
    ul {
        position: relative;
        list-style: none;
        margin-top: rem(10px);
        li {
            text-align: center;
            .sub-menu {
                position: relative;
                left: rem(0px);
                margin-left: rem(0px);
                display: block;
                margin-top: rem(0px);
                display: none;
                li {
                    padding: rem(0px) rem(0px);
                    padding-left: rem(10px);
                }
            }
            a {
                text-decoration: none;
                font-size: rem(20px);
                color: color('white');
                line-height: rem(40px);
                text-transform: uppercase;
                &:hover {
                    color: color('grey');
                }
            }
        }
    }
}
// second drop menu controll
.tochild2 {
    right: 10%;
    margin-top: neg(rem(40px));
    position: relative;
    color: color('blue');
    font-size: rem(30px);
    float: right;
    display: inline;
    @include media(sm) {
        right: 30%;
    }
    @include media(md) {
        float: none;
        top: rem(0px);
        color: color('black');
        right:rem(10px);
        font-size: rem(16px);
    }
    @include media(xl) {
        display: none;
    }
}
