.c-content__header {
    position: absolute;
    text-align: center;
    margin-top: -200px;
    z-index: 20;
    width: 100%;
    left: 0px;
    @include media(sm) {
        margin-top: -250px;
    }
    h1 {
        color: color('white');
        text-transform: uppercase;
    }
}
.c-content--main {
    padding: 40px 0px;
    @include media(md) {
        padding-bottom: 150px;
    }
    h2 {
        padding-bottom: 50px;
    }
    h5 {
        padding-bottom: 15px;
    }
    .o-col {
        padding-bottom: 50px;
    }
    img {
        width: 100%;
    }
}
