.c-testimonials {
background-size: cover;
background-repeat: no-repeat;
background-position: center;
padding: 40px;
padding-bottom: 0px;
@include media(md) {
    padding-bottom: 140px;
    }
footer {
    padding: 0px;
    background-color: rgba(0,0,0,0)
}
   h2, p {
        text-align: center;
        color: color('white');
    }
    h2:after {
        content:'"';
        font-family: $Crushed;
        display:block;
        font-size: 100px;
        color: color('white');
        margin: rem(0px) auto;
        margin-top: 40px;
    }
    h2 {
        font-weight: lighter;
        font-size: rem(36px);
        text-transform: uppercase;
        padding-bottom: 20px;
        @include media(md) {
            font-size: rem(52px);
        }
    }
    p {
        font-family: $Crushed_light ;
    }
    cite {
        font-family: $Crushed_light ;
        text-align: center;
        display: block;
        color: color('white');
    }
    // controll for the active dots
    .c-carousel {
        margin-bottom: rem(20px);
        .owl-dot {
            display: inline-block;
            span {
                display: block;
                width: rem(17px);
                height: rem(17px);
                margin: .1875rem;
                background-color: color('white');
                border-radius: 100%;
                margin-top: -50px;
            }
        }
        .owl-dot.active  {
            span{
                background-color: color('grey');
            }
        }
        .owl-dots {
            margin-top: 1.875rem;
            text-align: center;
        }

    }
}
