h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

h1 {
    @include font-size('h1');
    font-family: $Crushed ;
    color: color('blue');
    letter-spacing: 2px;
}

h2 {
    @include font-size('h2');
    font-family: $Crushed ;
    color: color('blue');
    letter-spacing: 2px;
    line-height: 46px;
}

h3 {
    @include font-size('h3');
    font-family: $Crushed ;
    color: color('blue', 'medium');
    letter-spacing: 2px;
}

h4 {
    @include font-size('h4');
    font-family: $Crushed ;
    color: color('blue', 'medium');
    letter-spacing: 2px;
}

h5 {
    @include font-size('h5');
    font-family: $Roboto ;
    color: color('red');
    letter-spacing: 2px;
    font-weight: bold;
}

h6 {
    @include font-size('h6');
    font-family: $Roboto ;
    color: color('red');
    letter-spacing: 2px;
    font-weight: bold;
}

p {
    @include font-size('p');
    font-family: $Crushed_light ;
    letter-spacing: 1px;
    line-height: 46px;
    color: color('grey');
    padding-bottom: 15px;
}

a {
    @include font-size('p');
    font-family: $Crushed ;
    letter-spacing: 1px;
    line-height: 31px;
}
