///
// Custom fonts
///

// Example
// @font-face {
//  font-family: 'questrialregular';
//  src: url('../../dist/fonts/questrial-regular-webfont.woff2') format('woff2'),
//       url('../../dist/fonts/questrial-regular-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
// }
@font-face {
font-family: 'Roboto';
 src: url('../../dist/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
font-family: 'Crushed';
 src: url('../../dist/fonts/Crushed.ttf');
}

@font-face {
font-family: 'Crushed-light';
 src: url('../../dist/fonts/RobotoCondensed-Light.ttf');
}
