{#
    This template is processed using the Twig template engine
    Learn more at: http://twig.sensiolabs.org/doc/templates.html

    You can override this output by copying this file into your
    theme's directory, in a subfolder named "wunderground". The
    path to the file would look like this:
    /wp-content/themes/my-theme/wunderground/day-simple.html
    #}

    <div class="o-col o-col--3@lg o-col--4@md o-col--6@sm o-col--12@xs">

        <div class="c-weather__day">

            <div class="o-row">

                <div class="o-col o-col--8">

                    {% include 'snippets/title.html' with { 'tag' : 'div' } %}

                    {% include 'snippets/condition.html' with { 'tag' : 'div' } %}

                    {% include 'snippets/high-low.html' with { 'tag' : 'div' } %}

                    {% include 'snippets/pop.html' with { 'tag' : 'div' } %}

                </div>

                <div class="o-col o-col--4">

                    {% include 'snippets/icon.html' with { 'tag' : 'div' } %}

                </div>

            </div>

        </div>

    </div>
